if status is-interactive
    # Commands to run in interactive sessions can go here
end

set fish_greeting ""

#alias
alias cd z
alias c clear
alias ff "fastfetch --config examples/13"
alias v nvim
alias ls "eza -a --icons=always"
alias ll "eza -a -T -L 2 --icons=always"

zoxide init fish | source
fzf --fish | source

#ohmyposh .omp.json files in .config/ohmyposh
#nordic is original from https://github.com/AntonRyadovoy/Powershell-nord-theme
#nordic Arch and Win are my modified versions
oh-my-posh init fish --config ~/.config/fish/nordicArch.omp.json | source

